.article-blog {
    width: 312px;
    margin: 0 auto;
    margin-bottom: 88px;
}

.article-blog section {
    margin-bottom: 32px;
}

.article-blog #accommodation figure {
    width: 100%;
    margin: 0;
}

.section-title hr {
    margin-bottom: 56px;
}


.blog-titles {
    font-size: 1.75rem;
    font-weight: var(--title-weight);
    color: var(--text-primary-color);
    margin: 0 0 24px 0;
}

.blog-text {
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: var(--text-weight);
    margin: 0;
}

.img-blog {
    width: 100%;
    margin-top: 24px;
}

.img-legend {
    font-size: 0.875rem;
    line-height: 28px;
    font-weight: var(--text-weight);
    color: var(--text-primary-color);
}

.store-tokyo-img {
    background: url('../img/blog-img/store-tokyo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 360px;
}

.blog-tokyo-img {
    background: url('../img/tokyo-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

/*OTHER POSTS*/
.other-posts-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.img-item {
    margin-bottom: 24px;
    width: 100%;
    height: 360px;
}

.item h3 {
    margin-bottom: 24px;
}

.item p {
    margin-bottom: 24px;
}

.item {
    width: 312px;
}

.item footer .button {
    border-radius: 8px;
    width: 100%;
}


.img-item.osaka {
    background: url(../img/osaka-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.img-item.hiroshima {
    background: url(../img/blog-img/hiroshima-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.img-item.kyoto {
    background: url(../img/blog-img/kyoto-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (min-width: 768px) {
    .article-blog {
        width: 648px;
    }

    #arrival-container {
        display: flex;
        gap: 24px;
    }

    #content-text {
        width: 50%;
    }

    .img-blog.store-tokyo-img {
        width: 50%;
        margin: 0;
    }

    .blog-tokyo-img {
        background: url('../img/blog-img/blog-tokyo-tablet-desk.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .article-blog {
        width: 890px;
    }
}

@media screen and (min-width: 1440px) {
    .article-blog {
        width: 1200px;
        margin-bottom: 88px;
    }

    .blog-tokyo-img {
        background: url('../img/blog-img/blog-tokyo-tablet-desk.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 300px;
    }

    .article-blog section {
        margin-bottom: 48px;
    }
}