.categories .section-title {
    width: 312px;
    margin: 0 auto;
}

.categories-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.categories-card {
    width: 312px;
    height: 220px;
    background-color: var(--background-secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 24px;
    text-decoration: none;
}

.categories-card img {
    width: 80px;
    height: 80px;
}

.categories-card span {
    width: 250px;
    font-size: 1.75rem;
    font-weight: var(--title-weight);
    color: var(--text-primary-color);
}

@media screen and (min-width: 768px) {
    .categories-items {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .categories .section-title {
        width: 100%;
    }

}

@media screen and (min-width: 1024px) {
    .categories-card {
        width: 330px;
    }
}

@media screen and (min-width: 1440px) {
    .categories-card {
        width: 280px;
    }
}

