.contact-form form {
    text-align: center;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 64px;
    border: none;
    border-bottom: 3px solid #D9D9D9;
    transition: 0.4s border;
    box-sizing: border-box;
    font-size: 1.25rem;
    line-height: 32px;
    font-family: "Montserrat";
}

.contact-form textarea {
    height: 130px;
    field-sizing: fixed;
    margin-bottom: 32px;
}

.contact-form input:focus, .contact-form textarea:focus {
    border: none;
    border-bottom: 3px solid var(--secondary-color);
    outline: none;
}

.contact-form form .button {
    border: none;
    border-radius: 8px;
    width: 100%;
}

#form-description {
    text-align: center;
    font-size: 1rem;
    font-weight: var(--text-weight);
    line-height: 28px;
    color: var(--text-primary-color);
    margin-bottom: 56px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .contact-form form .button {
        border: none;
        border-radius: 8px;
        width: 280px;
    }
}

