.destinations .section-title {
    width: 280px;
    margin: 0 auto;
}

.destination-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.img-item {
    margin-bottom: 24px;
    width: 100%;
    height: 360px;
}

.item h4 {
    margin-bottom: 24px;
}

.item p {
    margin-bottom: 24px;
}

.item {
    width: 312px;
}

.item footer .button {
    border-radius: 8px;
    width: 100%;
}

.img-item.tokyo {
    background: url(../img/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
}

.img-item.osaka {
    background: url(../img/osaka-mobile.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .item {
        width: 648px;
    }

    .img-item {
        height: 452px;
    }

    .img-item.tokyo {
        background: url(../img/tokyo-tablet-desk.jpg) no-repeat;
    }

    .img-item.osaka {
        background: url(../img/osaka-tablet-desk.jpg) no-repeat;
    }

    .item footer .button {
        width: 280px;
    }

    .destinations .section-title {
        width: 325px;
    }
}

@media screen and (min-width: 1024px) {
    .item {
        width: 850px;
    }
}



@media screen and (min-width: 1440px) {

    .destination-items {
        flex-direction: row;
        justify-content: center;
    }
    .item {
        width: 588px;
    }

    .img-item {
        width: 588px;
        height: 452px;
    }
}