.main-footer {
    background-color: var(--background-tertiary-color);
    color: var(--text-secondary-color);
    font-size: 1rem;
    font-weight: var(--text-weight);
    text-align: center;
    padding: 32px 24px;
}

.main-footer .footer-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-footer .footer-container .footer-content p {
    line-height: 28px;
    width: 312px;
    margin: auto;
    margin-top: 8px;
}

.main-footer .footer-container .footer-content img {
    width: 160px;
    height: 40px;
    margin-bottom: 16px;
}

.main-footer .footer-container .social-media p {
    margin-bottom: 16px;
}

.main-footer .footer-container .social-media a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .main-footer {
        padding: 32px 60px;
    }

    .main-footer .footer-container .footer-content p {
        width: 592px;
        font-size: 1.25rem;
    }

}

@media screen and (min-width: 1024px) {

    .main-footer .footer-container .footer-content p {
        width: 100%;
    }

}

@media screen and (min-width: 1440px) {

    .main-footer {
        padding: 52px 120px;
    }

    .main-footer .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main-footer .footer-container .footer-content {
        text-align: left;
    }
}