.hero-img {
    height: 400px;
    width: 100%;
    background: url(../img/hero-mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.hero h2 {
    padding: 88px 24px;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero-img {
        height: 620px;
        background: url(../img/hero-tablet.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero h2 {
        padding: 88px 60px;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .hero-img {
        background: url(../img/hero-desktop.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero h2 {
        padding: 104px 120px;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1920px) {

    .hero h2 {
        padding: 104px 160px;
        font-size: 2rem;
    }

}