.card {
    color: var(--text-secondary-color);
    background-color: black;
    padding: 24px 16px;
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    border-radius: 16px;
    text-align: center;
}

.card header {
    display: block;
    position: static;
    background-color: transparent;
}

.card header p {
    font-size: 1.25rem;
    font-weight: var(--text-weight);
}

.card header h3 {
    font-size: 2.5rem;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
}

.card header span {
    font-size: 2rem;
    display: inline-block;
    margin-top: 24px;
}