.payments {
    margin: 0 auto;
    width: 312px;
}

.text-content .content-text {
    margin-bottom: 24px;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
}

.image-gallery .image.bag{
    background: url(../img/bag-mobile.png) no-repeat;
    background-size: cover;
}

.image-gallery .image.passport{
    background: url(../img/passport-mobile.png) no-repeat;
    background-size: cover;
}

.image-gallery .image.people{
    background: url(../img/people-mobile.png) no-repeat;
    background-size: cover;
}

.image-gallery .image.colspan-2 {
    grid-column: span 2;
}