.text-content .content-text {
    margin-bottom: 24px;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    width: 100%;
}

.payments .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-gallery .image.bag{
    background: url(../img/bag-mobile.png) no-repeat;
    background-size: cover;
}

.image-gallery .image.passport{
    background: url(../img/passport-mobile.png) no-repeat;
    background-size: cover;
}

.image-gallery .image.people{
    background: url(../img/people-mobile.png) no-repeat;
    background-size: cover;
}

.image-gallery .image.colspan-2 {
    grid-column: span 2;
}

@media screen and (min-width: 768px) {
    .image-gallery .image.bag{
        background: url(../img/bag-tablet.png) no-repeat;
        background-size: cover;
    }

    .image-gallery .image.passport{
        background: url(../img/passport-tablet.png) no-repeat;
        background-size: cover;
    }

    .image-gallery .image.people{
        background: url(../img/people-tablet.png) no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) {
    .payments .content-container {
        align-items: normal;
        flex-direction: row;
        justify-content: space-between;
    }

    .image-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        height: 460px;
        width: 790px;
    }

    .payments .text-content {
        width: 360px;
    }

    .text-content .content-title {
        margin-top: 0;
        margin-bottom: 24px;
    }

}