.payments .content-container .text-content .content-text {
    margin-bottom: 24px;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    width: 100%;
}

.payments .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.image-gallery .image.bag{
    background: url(../img/bag-mobile.png) no-repeat;
    background-size: cover;
}

.image-gallery .image.passport{
    background: url(../img/passport-mobile.png) no-repeat;
    background-size: cover;
}

.image-gallery .image.people{
    background: url(../img/people-mobile.png) no-repeat;
    background-size: cover;
}

.image-gallery .image.colspan-2 {
    grid-column: span 2;
}

/*TRAVEL PACKAGE*/

.payments .content-container .content-title-travel {
    font-size: 2.5rem;
    margin: 0;
}

.payments .content-container .content-subtitle {
    font-size: 1.75rem;
    margin: 0;
}

.payments .content-container .content-title-travel, .payments .content-container .content-subtitle {
    margin-bottom: 24px;
}

.payments .content-container .text-content .button {
    border-radius: 8px;
    width: 100%;
}

.payments .content-container .image-gallery .image.temple{
    background: url(../img/temple-japan-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments .content-container .image-gallery .image.street{
    background: url(../img/street-japan-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments .content-container .image-gallery .image.monk{
    background: url(../img/monk-japan-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;    
}


@media screen and (min-width: 768px) {
    .image-gallery .image.bag{
        background: url(../img/bag-tablet.png) no-repeat;
        background-size: cover;
    }

    .image-gallery .image.passport{
        background: url(../img/passport-tablet.png) no-repeat;
        background-size: cover;
    }

    .image-gallery .image.people{
        background: url(../img/people-tablet.png) no-repeat;
        background-size: cover;
    }

    /*TRAVEL PACKAGE*/
    .payments .content-container .image-gallery .image.temple{
        background: url(../img/temple-japan-tablet-desk.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .payments .content-container .image-gallery .image.street{
        background: url(../img/street-japan-tablet-desk.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .payments .content-container .image-gallery .image.monk{
        background: url(../img/monk-japan-tablet-desk.jpg) no-repeat;
        background-size: cover;
        background-position: center;    
    }
    .payments .content-container .text-content .content-text {
        margin: 0;
    }
    
    .payments .content-container .text-content .button {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .payments .content-container {
        align-items: normal;
        flex-direction: row;
        justify-content: space-between;
    }

    .image-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        height: 460px;
        width: 790px;
    }

    .payments .text-content {
        width: 360px;
    }

    .text-content .content-title {
        margin-top: 0;
        margin-bottom: 24px;
    }

}