.pre-footer-hero {
    margin: 0;
    width: 100%;
}

.pre-footer-img {
    width: 100%;
    height: 400px;
    background: url(../img/pre-footer.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.pre-footer-img.travel-package {
    background: url(../img/pre-footer-travel-package.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.pre-footer-img.contact-form-img {
    background: url(../img/contact-img/pre-footer-contact.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 1440px) {
    

    .pre-footer-img {
        height: 600px;
    }
}