.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testimonial-container article header p {
    font-size: 1rem;
    line-height: 28px;
    font-weight: var(--text-weight);
}

.testimonial-container article footer {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 8px;
}

.testimonial-container article footer img {
    width: 86px;
    height: 86px;
}

.testimonial-container footer .profile-content h4 {
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0 0 8px;
}

.testimonial-container footer .profile-content .rating .star {
    font-size: 2rem;
    line-height: 32px;
    color: var(--secondary-color);
}



@media screen and (min-width: 1440px) {
    .testimonial-container {
        flex-direction: row;
        gap: 24px;
    }

    .testimonial-container article {
        width: 384px;
    }
}